<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
			<file value="Logs//AppLogs.txt" />
			<appendToFile value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="log4net.Internal.Debug" value="true"/>
		<add key="sftphost" value="40.86.85.18"/>
		<add key="sftpusername" value="Wunderkind_SFTP"/>
		<add key="sftppassword" value="Wunderkind2021$!"/>
		<add key="BrazeApiKey" value="19df654b-c999-46b0-8173-09f7dc1b423d"/>
		<!--Test Key-->
		<!--<add key="BrazeApiKey" value="8ad7c98a-b08c-46f4-90a4-22ed99882a40"/>-->
		<!--<add key="sftphost" value="sftp.attentivemobile.com"/>
		<add key="sftpusername" value="persona"/>
		<add key="sftppassword" value="mmiUwuFVv3Fq&amp;dcfViTsPWoD"/>
		<add key="sftpFolder" value="uploads"/>-->
	</appSettings>
	<connectionStrings>
		<!--<add name="Dbconnection" connectionString="Server=10.100.0.60,10344;Database=BCENTRAL;Integrated Security=False;uid=readonly;password=BcUKAP#Nzwxc2pKf" providerName="System.Data.SqlClient" />-->
		<add name="Dbconnection" connectionString="Server=10.100.0.60,10344;Database=BCENTRAL;Integrated Security=False;uid=PROJECTB_APP_READ;password=T5w]M#!LC~SP" providerName="System.Data.SqlClient" />
		<!--<add name="Dbconnection" connectionString="Server=10.100.0.25;Database=BCENTRAL_dev;Integrated Security=False;uid=PROJECTB_APP_READ;password=T5w]M#!LC~SP" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>