<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="log4net.Internal.Debug" value="true"/>
		<add key="sftphost" value="40.86.85.18"/>
		<add key="sftpusername" value="Wunderkind_SFTP"/>
		<add key="sftppassword" value="Wunderkind2021$!"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="Dbconnection" connectionString="Server=10.100.0.60,10344;Database=BCENTRAL;Integrated Security=False;uid=readonly;password=BcUKAP#Nzwxc2pKf" providerName="System.Data.SqlClient" />-->
		<add name="Dbconnection" connectionString="Server=10.100.0.60,10344;Database=BCENTRAL;Integrated Security=False;uid=PROJECTB_APP_READ;password=T5w]M#!LC~SP" providerName="System.Data.SqlClient" />
		<!--<add name="Dbconnection" connectionString="Server=10.100.0.25;Database=BCENTRAL_dev;Integrated Security=False;uid=PROJECTB_APP_READ;password=T5w]M#!LC~SP" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>