<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="createCampaigns" value="false"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="Dbconnection" connectionString="Server=10.100.0.60,10344;Database=BCENTRAL;Integrated Security=False;uid=PROJECTB_APP_READ;password=T5w]M#!LC~SP" providerName="System.Data.SqlClient" />-->
		<add name="Dbconnection" connectionString="Server=10.100.0.25;Database=BCENTRAL;Integrated Security=False;uid=PROJECTB_APP_READ;password=T5w]M#!LC~SP" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>